<div class="container-fluid">
  <div class="row">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div id="notfound">
        <div class="notfound">
          <div class="notfound-404">
            <h1>404</h1>
          </div>
          <h2>Oops! Nothing was found</h2>
          <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.
          </p>
          <button class="btn btn-primary btn-sm" routerLink='/'> Return to Home Page</button>
        </div>
      </div>
    </main>
  </div>
</div>
