<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
>
  <h2 *ngIf="mode == false" class="h2">Ajout Candidat</h2>
  <h2 *ngIf="mode == true" class="h2">Edit Candidat</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-3">
      <button (click)="save()" type="button" class="btn btn-primary btn-sm">
        Sauvegarder
      </button>
    </div>
    <div class="btn-group me-2">
      <button type="button" class="btn btn-secondary btn-sm" (click)="back()">
        Annuler
      </button>
    </div>
  </div>
</div>

<div class="">
  <div class="row">
    <div class="col-3">
      <div class="container d-flex justify-content-center h-100 bg-white">
        <div class="d-flex flex-column">
          <div class="">
            <P class="pt-3 text-center h2" *ngIf="Civilite == null"
              >{{ Nom }} {{ Prenom }}</P
            >
            <P class="pt-3 text-center h2" *ngIf="Civilite == 'H'"
              >Mr.{{ Nom }} {{ Prenom }}</P
            >
            <P class="pt-3 text-center h2" *ngIf="Civilite == 'F'">
              Mms. {{ Nom }} {{ Prenom }}</P
            >
          </div>

          <div>
            <div
              *ngIf="Civilite == null || Civilite === 'none'"
              class="col image border-dark"
            >
              <Kt-upload-image
                (onUploadFinished)="this.RefrechData()"
                src="../../../assets/images/manprofile.png"
              >
              </Kt-upload-image>
            </div>
            <div
              *ngIf="Civilite == 'H' && mode == false"
              [id]="modal.id"
              class="col image border-dark"
            >
              <Kt-upload-image
                class="w-25"
                [id]="modal.id"
                src="../../../assets/images/manprofile.png"
              >
              </Kt-upload-image>
            </div>
            <div
              *ngIf="Civilite == 'F' && mode == false"
              [id]="modal.id"
              class="col image border-dark"
            >
              <Kt-upload-image
                class="w-25"
                [id]="modal.id"
                src="../../../assets/images/womanprofile.jpg"
              >
              </Kt-upload-image>
            </div>
            <div *ngIf="mode == true" class="col image border-dark">
              <Kt-upload-image
                class="w-25 h-25"
                [id]="modal.id"
                src="{{ endPoint }}/GetFile/{{ modal.imageUrl }}"
              >
              </Kt-upload-image>
            </div>
          </div>

          <div class="information">
            <div class="px-2">
              <p class="pb-1">Email : {{ modal.email }}</p>
              <p class="pb-1">Télephone : {{ modal.telephone }}</p>
              <p class="pb-1">
                Date de Naissance : {{ modal.dateNaissance | date }}
              </p>
              <p class="pb-1">
                Date premiere experience :
                {{ modal.datePremiereExperience | date }}
              </p>
              <p class="pb-1">
                Proposition salariale : {{ modal.propositionSalariale }}
              </p>
              <p class="pb-1">
                Residence actuelle : {{ modal.residenceActuelle }}
              </p>
              <p class="pb-1">Emploi Encore : {{ modal.emploiEncore }}</p>
              <p *ngIf="mode == true" class="pb-1">Poste : {{ Poste }}</p>
              <p *ngIf="mode == true" class="pb-1">Niveau : {{ Niveau }}</p>

              <p class="pb-1">Commentaire : {{ modal.commentaire }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="container bg-white">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li ngbNavItem>
            <!--li info-->
            <a class="h6 mx-1 p-2" ngbNavLink>Information candidat</a>
            <ng-template ngbNavContent>
              <hr />
              <form
                [formGroup]="form"
                novalidate
                class="p-2 needs-validation"
                autocomplete="off"
              >
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-3">
                  <div class="col w-auto">
                    <div class="form-outline">
                      <label class="form-label" for="civilite"
                        >Civilité :</label
                      >
                      <select
                        [(ngModel)]="Civilite"
                        [formControlName]="'civilite'"
                        class="form-select border"
                        name="civilite"
                        aria-label="Default select example"
                      >
                        <option value="none" [selected]="true">
                          Sélectionner
                        </option>
                        <option value="H">Mr.</option>
                        <option value="F">Mms</option>
                      </select>

                      <div
                        class="invalid-feedback"
                        *ngIf="
                          error['civilite'].invalid &&
                          (error['civilite'].dirty || error['civilite'].touched)
                        "
                        class="text-danger"
                      >
                        <div *ngIf="error['civilite'].errors?.['required']">
                          Civilité est requis.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col mb-3">
                    <div class="form-outline">
                      <label class="fom-label mb-2" for="nom">Nom :</label>
                      <input
                        [(ngModel)]="Nom"
                        [formControlName]="'nom'"
                        type="text"
                        id="nom"
                        name="nom"
                        class="form-control form-control-sm"
                        autocomplete="off"
                        [ngClass]="{ 'is-invalid': submitted && error['nom'].errors?.['required'] }"
                      />

                      <div
                        *ngIf="
                          error['nom'].invalid &&
                          (error['nom'].dirty || error['nom'].touched)
                        "
                        class="text-danger"
                      >
                        <div *ngIf="error['nom'].errors?.['required']">
                          nom est requis.
                        </div>
                      </div>

                      <!--end control error -->
                    </div>
                  </div>

                  <div class="col mb-3">
                    <div class="form-outline">
                      <label class="form-label" for="prenom">Prénom :</label>
                      <input
                        [(ngModel)]="Prenom"
                        [formControlName]="'prenom'"
                        type="text"
                        id="prenom"
                        class="form-control form-control-sm"
                        autocomplete="off"
                        autocomplete="off"
                        required
                        [ngClass]="{
                          'is-invalid': submitted && error['nom'].errors
                        }"
                      />
                      <div
                        class="invalid-feedback"
                        *ngIf="
                          error['prenom'].invalid &&
                          (error['prenom'].dirty || error['prenom'].touched)
                        "
                        class="text-danger"
                      >
                        <div *ngIf="error['prenom'].errors?.['required']">
                          prenom est requis.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline mb-3">
                      <label class="form-label" for="dateNaissance"
                        >Date de naissance :</label
                      >
                      <input
                        [formControlName]="'dateNaissance'"
                        type="date"
                        id="dateNaissance"
                        class="form-control form-control-sm"
                        autocomplete="off"
                        [ngClass]="{
                          'is-invalid':
                            submitted && error['dateNaissance'].errors
                        }"
                      />
                      <div
                        class="invalid-feedback"
                        *ngIf="
                          error['dateNaissance'].invalid &&
                          (error['dateNaissance'].dirty ||
                            error['dateNaissance'].touched)
                        "
                        class="text-danger"
                      >
                        <div
                          *ngIf="error['dateNaissance'].errors?.['required']"
                        >
                          Date de naissance est requis.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="col">
                    <!-- Number input -->
                    <div class="form-outline mb-3">
                      <label class="form-label" for="telephone"
                        >télephone :</label
                      >
                      <input
                        [formControlName]="'telephone'"
                        type="tel"
                        id="telephone"
                        class="form-control form-control-sm"
                        autocomplete="off"
                        required
                      />

                      <div
                        class="invalid-feedback"
                        *ngIf="
                          error['telephone'].invalid &&
                          (error['telephone'].dirty ||
                            error['dateNaissance'].touched)
                        "
                        class="text-danger"
                      >
                        <div *ngIf="error['telephone'].errors?.['required']">
                          telephone est requis.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline mb-3">
                      <label class="form-label" for="email">Email :</label>
                      <input
                        [formControlName]="'email'"
                        type="email"
                        id="email"
                        class="form-control form-control-sm"
                        autocomplete="off"
                        required
                      />
                      <div
                        class="invalid-feedback"
                        *ngIf="
                          error['email'].invalid &&
                          (error['email'].dirty ||
                            error['dateNaissance'].touched)
                        "
                        class="text-danger"
                      >
                        <div *ngIf="error['email'].errors?.['required']">
                          email est requis.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="col">
                    <!-- Number input -->
                    <div class="form-outline mb-3">
                      <label class="form-label" for="datePremiereExperience"
                        >Date première expérience :</label
                      >
                      <input
                        [formControlName]="'datePremiereExperience'"
                        type="date"
                        id="datePremiereExperience"
                        class="form-control form-control-sm"
                        autocomplete="off"
                      />

                      <div
                        class="invalid-feedback"
                        *ngIf="
                          error['datePremiereExperience'].invalid &&
                          (error['datePremiereExperience'].dirty ||
                            error['datePremiereExperience'].touched)
                        "
                        class="text-danger"
                      >
                        <div
                          *ngIf="error['datePremiereExperience'].errors?.['required']"
                        >
                          Date première expérience est requis.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-outline mb-3">
                      <label class="form-label" for="emploiEncore"
                        >Emploi encore :</label
                      >
                      <input
                        [formControlName]="'emploiEncore'"
                        type="text"
                        id="emploiEncore"
                        class="form-control form-control-sm"
                        autocomplete="off"
                      />
                      <div
                        class="invalid-feedback"
                        *ngIf="
                          error['emploiEncore'].invalid &&
                          (error['emploiEncore'].dirty ||
                            error['emploiEncore'].touched)
                        "
                        class="text-danger"
                      >
                        <div *ngIf="error['emploiEncore'].errors?.['required']">
                          Emploi encore est requis.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="col">
                    <!-- Number input -->
                    <div class="form-outline mb-3">
                      <label class="form-label" for="salaireActuel"
                        >Salaire actuel:</label
                      >
                      <input
                        [formControlName]="'salaireActuel'"
                        type="number"
                        id="salaireActuel"
                        class="form-control form-control-sm"
                        autocomplete="off"
                      />

                      <div
                        class="invalid-feedback"
                        *ngIf="
                          error['salaireActuel'].invalid &&
                          (error['salaireActuel'].dirty ||
                            error['salaireActuel'].touched)
                        "
                        class="text-danger"
                      >
                        <div
                          *ngIf="error['salaireActuel'].errors?.['required']"
                        >
                          Salaire actuel est requis.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-outline mb-3">
                      <label class="form-label" for="propositionSalariale"
                        >Proposition salariale :</label
                      >
                      <input
                        [formControlName]="'propositionSalariale'"
                        type="number"
                        id="propositionSalariale"
                        class="form-control form-control-sm"
                        autocomplete="off"
                      />

                      <div
                        class="invalid-feedback"
                        *ngIf="
                          error['propositionSalariale'].invalid &&
                          (error['propositionSalariale'].dirty ||
                            error['propositionSalariale'].touched)
                        "
                        class="text-danger"
                      >
                        <div
                          *ngIf="error['propositionSalariale'].errors?.['required']"
                        >
                          Salaire actuel est requis.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-outline mb-3">
                      <label class="form-label" for="residenceActuelle"
                        >Residence actuelle :</label
                      >
                      <input
                        [formControlName]="'residenceActuelle'"
                        type="text"
                        id="residenceActuelle"
                        class="form-control form-control-sm"
                        autocomplete="off"
                      />

                      <div
                        class="invalid-feedback"
                        *ngIf="
                          error['residenceActuelle'].invalid &&
                          (error['residenceActuelle'].dirty ||
                            error['residenceActuelle'].touched)
                        "
                        class="text-danger"
                      >
                        <div
                          *ngIf="error['residenceActuelle'].errors?.['required']"
                        >
                          Salaire actuel est requis.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="col">
                    <div class="form-outline">
                      <label class="form-label" for="civilite">Poste :</label>
                      <select
                        [formControlName]="'posteId'"
                        name="posteId"
                        class="form-select border"
                        required
                        aria-label="Default select example"
                      >
                        <option [selected]="true">Sélectionner</option>
                        <option *ngFor="let item of postes" [value]="item.id">
                          {{ item.name }}
                        </option>
                      </select>

                      <div
                        class="invalid-feedback"
                        *ngIf="
                          error['posteId'].invalid &&
                          (error['posteId'].dirty || error['posteId'].touched)
                        "
                        class="text-danger"
                      >
                        <div *ngIf="error['posteId'].errors?.['required']">
                          poste est requis.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-outline">
                      <label class="form-label" for="posteNiveauId"
                        >Niveau :</label
                      >
                      <select
                        [formControlName]="'posteNiveauId'"
                        name="posteNiveauId"
                        required
                        class="form-select border"
                        aria-label="Default select example"
                      >
                        <option [value]="0" [selected]="true">
                          Sélectionner
                        </option>
                        <option
                          *ngFor="let item of posteNiveau"
                          [value]="item.id"
                        >
                          <p>{{ item.name }}</p>
                        </option>
                      </select>

                      <div
                        class="invalid-feedback"
                        *ngIf="
                          error['posteNiveauId'].invalid &&
                          (error['posteNiveauId'].dirty ||
                            error['posteNiveauId'].touched)
                        "
                        class="text-danger"
                      >
                        <div
                          *ngIf="error['posteNiveauId'].errors?.['required']"
                        >
                          Niveau est requis.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Message input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="commentaire"
                    >Commentaire</label
                  >
                  <textarea
                    [formControlName]="'commentaire'"
                    class="form-control form-control-sm"
                    id="commentaire"
                    rows="4"
                  ></textarea>
                </div>
                <!-- Submit button -->
                <!--button type="submit" class="btn btn-primary btn-block mb-4">
                Place order
              </button-->
              </form>
            </ng-template>
          </li>
          <li ngbNavItem>
            <!--li Entretien-->
            <a ngbNavLink class="h6 mx-1 p-2">Entretien candidat</a>
            <ng-template ngbNavContent>
              <div class="card m-2" *ngFor="let e of ListEntretien">
                <div class="card-body">
                  <form class="p-2 needs-validation" autocomplete="off">
                    <div class="row">
                      <div class="col">
                        <div class="form-outline mx">
                          <label class="form-label" for="prenom"
                            >Evaluateur :</label
                          >
                          <input
                            type="text"
                            class="form-control form-control-sm"
                            autocomplete="off"
                            required
                            name="e.evaluateur"
                            value="{{ e.evaluateur }}"
                          />
                        </div>
                      </div>

                      <div class="col">
                        <div class="form-outline">
                          <label class="form-label">Date de entretien :</label>
                          <input
                            class="form-control form-control-sm"
                            autocomplete="off"
                            required
                            type="date"
                            value="{{ e.dateEntretien }}"
                            name="e.dateEntretien"
                          />
                        </div>
                      </div>

                      <div class="col">
                        <button
                          style="outline: none; border: none; margin-top: 32px"
                          data-bs-toggle="modal"
                          data-bs-target="#addnewTemplateModal"
                          aria-label="add"
                          class="btn btn-primary"
                         
                        >
                          <i class="bi bi-plus-circle"></i>
                          Ajoute template
                        </button>
                      </div>
                    </div>
                    <div
                      *ngFor="let item of e.templates; let index = index"
                      class="row"
                    >
                      <div class="col">
                        <div class="form-outline mx">
                          <label
                            *ngIf="index == 0"
                            class="form-label"
                            for="prenom"
                            >Technologie :</label
                          >
                          <input
                            readonly
                            type="text"
                            class="form-control form-control-sm my-1"
                            autocomplete="off"
                            value="{{ item.technologie }}"
                            required
                          />
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline mx">
                          <label
                            *ngIf="index == 0"
                            class="form-label"
                            for="prenom"
                            >theme :</label
                          >
                          <input
                            value=""
                            type="text"
                            class="form-control form-control-sm my-1"
                            required
                            readonly
                            value="{{ item.them }}"
                          />
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline mx">
                          <label
                            *ngIf="index == 0"
                            class="form-label"
                            for="prenom"
                            >Titre :</label
                          >
                          <input
                            type="text"
                            class="form-control form-control-sm my-1"
                            autocomplete="off"
                            required
                            value="{{ item.title }}"
                            readonly
                          />
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline mx">
                          <label
                            *ngIf="index == 0"
                            class="form-label text-center"
                            for="Note"
                            >Note :</label
                          >
                          <form
                          [formGroup]="formNote">
                          <ngx-star-rating class="stare" [(ngModel)]="NoteModal.Note" formControlName="rating" [id]="'rating'"></ngx-star-rating>
                        </form>
                        </div>
                      </div>
                     

                      <div class="col mt-3">
                        <div class="form-outline mx">
                          <label
                            class="form-label"
                            *ngIf="index == 0"
                            for="Note"
                          >
                          </label>
                          <div class="container justify-content-end">

                            <button
                            data-bs-toggle="modal"
                            data-bs-target="#addnewCommenterModal"
                            aria-label="add"
                            data-toggle="tooltip" data-placement="top" title="Ajouter un commentaire dans la note"
                            class="btn btn-sm btn-info"
                          >
                            <i class="bi bi-plus-circle"></i>
                          </button>
                            <button
                              data-bs-toggle="modal"
                              (click)="EditTemplate(item.id)"
                              data-bs-target="#addnewTemplateModal"
                              aria-label="add"
                              class="btn btn-sm btn-primary me-2 mb-1"
                              aria-label="edit"
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="bi bi-pencil-square"
                                viewBox="0 0 16 16"
                              >
                                <path
                                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                                />
                                <path
                                  fill-rule="evenodd"
                                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                                />
                              </svg>
                            </button>
                            <button
                              (click)="deleteTemplate(item.id)"
                              class="btn btn-sm btn-danger me-2 mb-1"
                              data-bs-toggle="modal"
                              data-bs-target="#deleteModal"
                              aria-label="delete"
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="bi bi-trash"
                                viewBox="0 0 16 16"
                              >
                                <path
                                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                                />
                                <path
                                  fill-rule="evenodd"
                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                                />
                              </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="CommenterId"
                        >Commentaire</label
                      >
                      <textarea
                        class="form-control form-control-sm"
                        id="EntretienModal.Commente"
                        name="e.commente"
                        rows="4"
                        value="{{e.commente}}"
                      ></textarea>
                    </div>
                    <div
                      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom"
                    >
                      <div></div>
                      <div *ngIf="">


                        <button
                          type="button"
                          (click)="AddEntretien()"
                          class="btn btn-primary btn-sm"
                        >
                          valider
                        </button>
                        <button
                          type="button"
                          class="btn btn-secondary btn-sm"
                          (click)="back()" 
                        >
                          Annuler
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </ng-template>
          </li>

          <li ngbNavItem>
            <!--li cv-->
            <a ngbNavLink class="h6 mx-1 p-2">Cv candidat</a>
            <ng-template ngbNavContent>
              <div class="h-100 bg-white">
                <Kt-upload [id]="iditem"></Kt-upload>
                <kt-pdf-viewer src="{{ endPoint }}/GetFile/{{ modal.cvUrl }}">
                </kt-pdf-viewer>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>

  <!-- begin Modal Add new Template -->
  <div
    class="modal fade"
    id="addnewTemplateModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ajouter template</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!--begin modal body -->
          <div>
            <div class="col">
              <div class="form-outline mx">
                <div class="col">
                  <div class="form-outline mx">
                    <label class="form-label" for="prenom">Technologie :</label>
                    <input
                      [(ngModel)]="templatemodal.technologie"
                      type="text"
                      class="form-control form-control-sm"
                      autocomplete="off"
                      required
                      name="templatemodal.technologie"
                      [ngClass]="{
                        'is-invalid': submitted && error['theme'].errors
                      }"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline mx">
                    <label class="form-label" for="prenom">theme :</label>
                    <input
                      [(ngModel)]="templatemodal.them"
                      type="text"
                      class="form-control form-control-sm"
                      autocomplete="off"
                      required
                      name="templatemodal.them"
                      [ngClass]="{
                        'is-invalid': submitted && error['theme'].errors
                      }"
                    />
                  </div>
                </div>

                <div class="col">
                  <div class="form-outline mx">
                    <label class="form-label" for="prenom">Titre :</label>
                    <input
                      [(ngModel)]="templatemodal.title"
                      type="text"
                      class="form-control form-control-sm"
                      autocomplete="off"
                      required
                      name="templatemodal.title"
                      [ngClass]="{
                        'is-invalid': submitted && error['Titre'].errors
                      }"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end modal body -->
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>

          <button (click)="addTemplate()" type="button" class="btn btn-primary">
            valider
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--end modal add new Template -->

  <!-- begin Modal Add new Template -->
  <div
    class="modal fade"
    id="addnewCommenterModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ajouter commentaire</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!--begin modal body -->
          <div>
            <div class="col">
              <div class="form-outline mx">
                <div class="col">
                  <div class="form-outline mx">
                    <label class="form-label" for="prenom">Commenter :</label>
                    <angular-editor
                      [placeholder]="'Enter text here...'"
                      [(ngModel)]="NoteModal.Commente"
                    ></angular-editor>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end modal body -->
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>

          <button (click)="addTemplate()" type="button" class="btn btn-primary">
            valider
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--end modal add new Template -->
</div>
