<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
>
  <h2 class="h2">Candidats</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-3">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        [routerLink]="'/addEditcandidats'"
      >
        Ajout
      </button>
    </div>

    <div class="btn-group me-2">
      <button
        type="button"
        class="btn btn-sm btn-outline-secondary active"
        aria-label="List"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          />
        </svg>
      </button>
      <button
        type="button"
        class="btn btn-sm btn-outline-secondary"
        aria-label="card"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-card-list"
          viewBox="0 0 16 16"
        >
          <path
            d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"
          />
          <path
            d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"
          />
        </svg>
      </button>
    </div>

    <div class="btn-group me-2">


      <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
      <button type="button"  class="btn btn-sm btn-outline-secondary"
      accept=".xls,.xlsx" (click)="file.click()">Import</button>

      <a class="btn btn-sm btn-outline-secondary"
       href="https://localhost:7019/api/Candidat/ExportExcel">Export</a>
    </div>
  
<!--

    <select
    class="form-select btn btn-sm btn-outline-secondary dropdown-toggle"
    style="width: auto"
    name="pageSize"
    [(ngModel)]="service.pageSize"
  >
  
  <option selected [ngValue]="10">Filtres</option>
    <option  [ngValue]="10">10</option>
    <option [ngValue]="25">25</option>
    <option [ngValue]="50">50</option>
    <option [ngValue]="100">100</option>
  </select>


-->

  </div>
</div>

<div class="row p-2">

  <select
  class="form-select btn btn-sm btn-outline-secondary dropdown-toggle px-2"
  style="width: auto"
  name="pageSize"
  [(ngModel)]="service.pageSize"
>

<option selected [ngValue]="10" ><i class="bi bi-filter"></i></option>
  <option  [ngValue]="10">10</option>
  <option [ngValue]="25">25</option>
  <option [ngValue]="50">50</option>
  <option [ngValue]="100">100</option>
</select>

  <div class="col w-25">
    <input
      type="search"
      [(ngModel)]="search"
      class="form-control"
      placeholder="Search..."
      aria-label="Search"
    />
  </div>
</div>

<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Archiver Candidat
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are You Sure You want to delete ? {{ collabToDelete?.nom }}
        {{ collabToDelete?.prenom }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          data-bs-dismiss="modal"
          (click)="confirmDelete(collabToDelete?.id)"
          class="btn btn-danger"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="ImportExcelModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
         Import Excel
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row p-2">
          <div class="col w-25">
            <input
              type="file"
              (change)="ImportExcel(file.files)"
              #file
              class="form-control"
              placeholder="Import"
              aria-label="Import"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>

        
        <button
          type="button"
          (click)="file.click()"
          class="btn btn-primary"
          accept=".xls,.xlsx"
        >
          Import
        </button>
      </div>
    </div>
  </div>
</div>



<form><!--Data Table-->
  <div class="w-full">
    <div class="body">
   
        <table class="table">
          <thead class="mb-2">
            <tr class="shadow-sm p-3 mb-5 bg-body rounded align-baseline">
              <th></th>
              <th scope="col" sortable="id">#</th>
              <th scope="col" sortable="civilite" (sort)="onSort($event)">
                <i class="bi bi-funnel"></i> Civilité
              </th>
              <th scope="col" sortable="nom" (sort)="onSort($event)">
                <i class="bi bi-funnel"></i> Nom
              </th>
              <th scope="col" sortable="prenom" (sort)="onSort($event)">
                <i class="bi bi-funnel"></i> Prenom
              </th>
              <th scope="col" sortable="dateNaissance" (sort)="onSort($event)">
                <i class="bi bi-funnel"></i> Date de naissance
              </th>
              <th scope="col" sortable="email" (sort)="onSort($event)">
                <i class="bi bi-funnel"></i> Email
              </th>
              <th scope="col" sortable="telephone" (sort)="onSort($event)">
                <i class="bi bi-funnel"></i> Télephone
              </th>
              <th
                scope="col"
                sortable="datePremiereExperience"
                (sort)="onSort($event)"
              >
                <i class="bi bi-funnel"></i> Date premiere experience
              </th>
              <td id="options" class="text-end">options</td>
            </tr>
          </thead>
      
        </table>

        <table class="table my-1 py-3" *ngFor="let candidat of Candidat$ | async | filter: search">
           
            <thead
            class=" my-2 mb-2 shadow-sm  table-hover bg-body rounded align-baseline"
          >
            <tr
              (dblclick)="Get(candidat.id)"
              class="shadow-sm my-2 bg-body align-baseline"
              id="{{ candidat.id }}"
            >
            <td class="h-full bg-success" style="width: 1px; ;">

            </td>
  
              <td>
  
                {{ candidat.id }}</td>
              <th *ngIf="candidat.civilite == 'H'">
                <ngb-highlight
                  [result]="'Mr.'"
                  [term]="service.searchTerm"
                ></ngb-highlight>
              </th>
              <th *ngIf="candidat.civilite">
                <ngb-highlight
                  [result]="'Mms.'"
                  [term]="service.searchTerm"
                ></ngb-highlight>
              </th>
              <td>
                <ngb-highlight
                  [result]="candidat.nom"
                  [term]="service.searchTerm"
                ></ngb-highlight>
              </td>
              <td>
                <ngb-highlight
                  [result]="candidat.prenom"
                  [term]="service.searchTerm"
                ></ngb-highlight>
              </td>
              <td>
                <ngb-highlight
                  [result]="candidat.dateNaissance | date: 'dd MMMM yyyy'"
                  [term]="service.searchTerm"
                ></ngb-highlight>
              </td>
              <th>
                <ngb-highlight
                  [result]="candidat.email"
                  [term]="service.searchTerm"
                ></ngb-highlight>
              </th>
              <th>
                <ngb-highlight
                  [result]="candidat.telephone"
                  [term]="service.searchTerm"
                ></ngb-highlight>
              </th>
              <th>
                <ngb-highlight
                  [result]="candidat.datePremiereExperience | date: 'dd MMMM yyyy'"
                  [term]="service.searchTerm"
                ></ngb-highlight>
              </th>
    
              <td id="options" class="text-end">
                <div class="container justify-content-end">
                  <button
                    [routerLink]="['/addEditcandidats/Edit', candidat.id]"
                    class="btn btn-sm btn-primary me-2 mb-1"
                    aria-label="edit"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-pencil-square"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                      />
                    </svg>
                  </button>
                  <button
                    (click)="deleteCollab(candidat)"
                    class="btn btn-sm btn-danger me-2 mb-1"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteModal"
                    aria-label="delete"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-trash"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                      />
                    </svg>
                  </button>
    
                  <button
                    [routerLink]="['/View', candidat.id]"
                    class="btn btn-sm btn-info me-2 mb-1"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteModal"
                    aria-label="delete"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-eye"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"
                      />
                      <path
                        d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"
                      />
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </thead>
        
        </table>
  
       
      
    </div>
  </div>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!"
      [(page)]="service.page"
      [pageSize]="service.pageSize"
    >
    </ngb-pagination>
    
   
  </div>
</form>
