<nav  id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar collapse" >
  <div class="sidebar-logo bg-dark shadow d-flex justify-content-center align-items-center">
    <h5>
    <a href="#">My SIRH </a>
  </h5>
    <!-- <span class="navbar-brand mb-0 h1">My SIRH</span> -->
  </div>

  <div class="sidebar-sticky pt-3" >
    <div class="d-flex flex-column bd-highlight mb-3  justify-content-between">
      <div *ngIf="toggel==true">
        <div>
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-muted">
            <span>Centre de compétences </span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink='/dashboard' routerLinkActive='active'>
                <!-- <span data-feather="home"></span> -->
                <i class="bi bi-speedometer2"></i>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/collaborateurs' routerLinkActive='active'>
                <i class="bi bi-person-rolodex"></i>
                Collaborateurs
              </a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" routerLink='/formations' routerLinkActive='active'>
                <i class="bi bi-mortarboard"></i>
                Formation & Certifcations
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/integrations' routerLinkActive='active'>
                <i class="bi bi-clipboard-check"></i>
                Integrations
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/demissions' routerLinkActive='active'>
                <i class="bi bi-person-x"></i>
                Démissions
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/reports' routerLinkActive='active'>
                <i class="bi bi-file-earmark-bar-graph"></i>
                Reports
              </a>
            </li>
  
          </ul>
        </div>
        <div>
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Recrutement </span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLink='/candidats' routerLinkActive='active'>
                <i class="bi bi-person-plus"></i>
                Candidats CDI
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/freelances' routerLinkActive='active'>
                <i class="bi bi-person-bounding-box"></i>
                Freelances
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/grilleSalaire' routerLinkActive='active'>
                <i class="bi bi-currency-dollar"></i>
                Grille de salaire
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>To Do </span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLink='/todo' routerLinkActive='active'>
                <i class="bi bi-list-task"></i>
                My todo
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/memo' routerLinkActive='active'>
                <i class="bi bi-stickies"></i>
                Memo
              </a>
            </li>
          </ul>
        </div>
      </div>

      <h3 class="sidebar-heading d-flex justify-content-between pointer-events align-items-center px-3 mt-4 mb-1 text-muted">
        <h6 (click)="sidetoggel()">Administration    <i class="pl-2 bi bi-gear"></i> </h6>
        
        <a class="link-secondary" href="#" aria-label="Add a new report">
          <span data-feather="plus-circle"></span>
        </a>
      </h3>
      <div *ngIf="toggeladmin==true">
        
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Profils de cout
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Sites
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/postes" >
              <span data-feather="file-text"></span>
              Postes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Porteurs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Ecoles
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Postes niveaux
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
