<div  class="row p-3  position-relative">
    <div class="col-md-3 w-30 ">
      <div>
        <input type="file" #file   [id]="id" placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
        <div class="text-center">
          <img [src]="src" class="rounded" alt="...">
        </div>
      </div>
        <div class="position-absolute bottom-0 end-0"> 
          <i (click)="file.click()"  class="rounded-circle bi bi-upload btn btn-secondary "></i>
          
        </div>
      
    </div>
  </div>
